$color-primary: hsl(21, 47%, 51%);
$color-light:hsl(0, 0%, 100%);
$color-black:hsl(0, 0%, 0%);
$color-text:hsla(0, 0%, 22%, 0.7);
$color-bg-modal:hsl(0, 0%, 22%);
$color-heading:hsl(0, 0%, 15%);
$color-hovered:hsl(21, 47%, 59%);
$color-background:rgba(242, 242, 242, 0.3);
$color-shadow:hsla(0, 0%, 76%, 0.5);
$color-background-basket:hsl(0, 0%, 15%);
$color-bg-catalog: hsla(0, 0%, 90%, 0.3);
$color-background-hover:hsl(0, 0%, 98%);
$color-background-about-us:hsla(0, 0%, 90%, 0.2);
$color-background-ph-element:hsl(0, 0%, 80%);
$color-btn-catalog: hsla(0, 0%, 90%, 0.7);
$color-bg-add:hsla(0, 0%, 90%, 0.7);


