
.footer__logo {
    cursor: pointer;
    //*mobile
    @media (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
    }
}
.footer__first-row {
    padding-top: 50px;
    padding-bottom: 76px;
    display: flex;
    justify-content: space-between;
    //*mobile
    @media (max-width: 767px) {
    padding-top: 40px;
    padding-bottom: 40px;
    }
}

.footer__link {
    color:$color-text;
    @include font(1.5rem, 1.8rem, normal);
    @extend %transition;
    cursor: pointer;
    &:hover {
    color:$color-primary;
    }
    //*tablet small
    @media (max-width: 991px) {
    display: none;
    }
}

.footer__security {
    color:$color-text;
    @include font(1.5rem, 1.8rem, normal);
    //*tablet small
    @media (max-width: 991px) {
    display: none;
    }
}
.footer__phone {
    //*mobile x
    @media (max-width: 767px) {
    display: none;
    }
}
.footer__text {
    color:$color-text;
    @include font(1.5rem, 1.8rem, normal);
    text-align: center;
}

.footer__second-row {
    padding-top: 40px;
    padding-bottom: 40px;
    background:$color-black;
    p {
    color:$color-light;
    opacity: 0.7;
    text-align: center;
    }
}