.section-design {
    padding-top: 60px;
    padding-bottom: 112px;
    .design__fourth-row, .design__fifth-row, .design__sixth-row {
        display: none;
    }
}

.design__wrapper {
    margin-left: auto;
    margin-right: auto;
}

.design__title {
    margin-bottom: 40px;
    text-align: center;
}

.design__text {
    color:$color-text;
    text-align: center;
    margin-bottom: 38px;
    @include font(2.0rem, 3.657rem, 500);   
}

.design__name {
    position: relative;
    margin-bottom: 43px;
}

.design__name:after {
    position: absolute;
    content: "";
    top: 19px;
    left: 200px;
    width: 960px;
    height: 1px;
    background-color: $color-background-ph-element;

    //*tablet big
    @media (max-width: 1199px) {
        width: 600px;
    }

    //*tablet small
    @media (max-width: 991px) {
        left: 180px;
        width: 350px;
    }
      //*mobile
      @media (max-width: 767px) {
       display: none;
    }
}

.design__first-row, .design__second-row,.design__third-row, .design__fourth-row, .design__fifth-row {
    margin-bottom: 90px;
}

.design__third-row {
    .design__name:after {
        position: absolute;
        content: "";
        top: 19px;
        left: 350px;
        width: 800px;
        //*tablet big
        @media (max-width: 1199px) {
            width: 500px;
        }
        //*tablet small
        @media (max-width: 991px) {
            left: 300px;
            width: 250px;
        }  
    }
}

.design__product {
    display: block;
    width: 363px;
    //*tablet small
    @media (max-width: 991px) {
        width: 289px;
    }
}

.design__image {
    display: block;
}

.design__content {
    display: flex;
    justify-content:center;
    column-gap: 20px;
    align-items: center;
    //*tablet small
    @media (max-width: 991px) {
       column-gap: 15px;
    }
}

.design__description {
    //*tablet small
    @media (max-width: 991px) {
        @include font(1.8rem, 1.8rem, normal); 
    }   
}

.design__name {
    //*mobile
    @media (max-width: 767px) {
   }
}

.design__product-button {
    padding: 14px 30px;
    background:$color-btn-catalog;
    border-radius: 100px;
    display: flex;
    column-gap: 18px;
    align-items: center;

    cursor: pointer;
    @extend %transition;
    &:hover {
        background: $color-background-hover; 
    }
}

.select {
    @include font(1.5rem, 1.829rem, 500);
    @extend %transition;
    cursor: pointer;
    &:hover {
        color:$color-primary;
    }
}

.icon-button {
    display: block;
    width: 30px;
    height: 30px;
    background: url('../img/icon/basket-black.svg');
    background-repeat: no-repeat;
    background-position: center;
}  

.itc-slider {
    margin-bottom: 20px;
}

.design__more-products {
    display: flex;
    justify-content: center;
}



